@page

<div class="container">
    <input id="inputForename" />
    <input id="inputSurname" />

    <button id="btnGetFullName">Get Full Name</button>
</div>

<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/lib/msgpack5/msgpack5.min.js"></script>
<script src="~/lib/signalr/signalr-protocol-msgpack.min.js"></script>
<script src="~/js/account.js"></script>
