@page

<div class="container">
    <input id="inputForename" />
    <input id="inputSurname" />

    <button id="btnGetFullName">Get Full Name</button>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/account.js"></script>
