@page
    <h1>Change Background</h1>
    <p>
        <button id="btnRed">Red</button>
        <button id="btnGreen">Green</button>
        <button id="btnBlue">Blue</button>
    </p>

    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/lib/msgpack5/msgpack5.min.js"></script>
    <script src="~/lib/signalr/signalr-protocol-msgpack.min.js"></script>
    <script src="~/js/background.js"></script>