@page

<button id="btnJoinYellow">Join Yellow</button>
<button id="btnJoinBlue">Join Blue</button>
<button id="btnJoinOrange">Join Orange</button>
<br />
<br />
<button id="btnTriggerYellow">Trigger Yellow</button>
<button id="btnTriggerBlue">Trigger Blue</button>
<button id="btnTriggerOrange">Trigger Orange</button>
<br />
<br />
<button id="btnRemoveYellow">Remove Yellow</button>
<button id="btnRemoveBlue">Remove Blue</button>
<button id="btnRemoveOrange">Remove Orange</button>

<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/lib/msgpack5/msgpack5.min.js"></script>
<script src="~/lib/signalr/signalr-protocol-msgpack.min.js"></script>
<script src="~/js/color.js"></script>