@page


    <h1>What time it is?</h1>
    <p>It is <span id="currentTime">00:00:00</span></p>

    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/lib/msgpack5/msgpack5.min.js"></script>
    <script src="~/lib/signalr/signalr-protocol-msgpack.min.js"></script>
    <script src="~/js/time.js"></script>