@page


<h1>Users</h1>

<textarea id="userJson" cols="50"></textarea>
<br />
<button id="btnGetOne">Get 1</button>
<button id="btnGetTen">Get 10</button>
<button id="btnGetOneThousand">Get 1000</button>

<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/lib/msgpack5/msgpack5.min.js"></script>
<script src="~/lib/signalr/signalr-protocol-msgpack.min.js"></script>
<script src="~/js/user.js"></script>