@page

<h1>Votes</h1>
<br />
<h3>Votes for Pie: <span id="pieVotes">0</span></h3>
<h3>Votes for Bacon: <span id="baconVotes">0</span></h3>

<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/lib/msgpack5/msgpack5.min.js"></script>
<script src="~/lib/signalr/signalr-protocol-msgpack.min.js"></script>
<script src="~/js/vote.js"></script>