@page

    <div class="container">
        <p>People watching this page: <span id="viewer">0</span></p>
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/watch.js"></script>
