@page

<div class="container">
    <p>People watching this page: <span id="viewer">0</span></p>
</div>

<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/lib/msgpack5/msgpack5.min.js"></script>
<script src="~/lib/signalr/signalr-protocol-msgpack.min.js"></script>
<script src="~/js/watch.js"></script>
